<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
<script src="{{ url_for('static', filename='script.js') }}"></script>
<div class="topnav" id="myTopnav">
    <a href="/" class="nav_item">Home</a>
    <div class="dropdown" id="myDashboards">
    <button class="nav_item dropbtn" onclick="toggle_dashboards()">Dashboards
      <i class="fa fa-caret-down"></i>
    </button>
        <div class="dropdown-content">
            <a class="nav_item" href="/Dashboards/Ham_Dashboard">Ham Dashboard</a>
        </div>
    </div>
    <a class="nav_item" href="/TaskApp">TaskApp</a>
    <a class="nav_item" href="/Portfolio">Portfolio</a>
    <a class="nav_item" href="https://github.com/blazakin">Github</a>
    <a href="javascript:void(0);" class="nav_item icon" onclick="toggle_topnav_menu()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 100px)">
    <h1 style="font-size: 92px; ">404</h1>
</div>




</body>
</html>
