<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toolkit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
<script src="{{ url_for('static', filename='script.js') }}"></script>
<div class="topnav" id="myTopnav">
    <a href="#home" class="nav_item active">Home</a>
    <div class="dropdown" id="myDashboards">
    <button class="nav_item dropbtn" onclick="toggle_dashboards()">Dashboards
      <i class="fa fa-caret-down"></i>
    </button>
        <div class="dropdown-content">
            <a class="nav_item" href="#">Ham Dashboard</a>
            <a class="nav_item" href="#">Link 2</a>
            <a class="nav_item" href="#">Link 3</a>
        </div>
    </div>
    <a class="nav_item" href="/TaskApp">TaskApp</a>
    <a class="nav_item" href="https://github.com/blazakin">Github</a>
    <a href="javascript:void(0);" class="nav_item icon" onclick="toggle_topnav_menu()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<h1 id="home">Hello World!</h1>



</body>
</html>
