<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta permalink: />
    <title>Toolkit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body >
	<script src="{{ url_for('static', filename='index.js') }}"></script>
  <div class="topnav", id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#videos">Dashboards</a>
    <a href="#figures">Figures</a>
    <a href="#code">Code</a>
    <a href="#poster">Poster</a>
    <a href="javascript:void(0);" class="icon" onclick="togglemenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <h1 id="home">Hello World!</h1>

  

  </body>
</html>
