<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body >
<script src="{{ url_for('static', filename='script.js') }}"></script>
<div class="topnav" id="myTopnav">
    <a href="/" class="nav_item" id="home">Home</a>
    <div class="dropdown" id="myDashboards">
    <button class="nav_item dropbtn" onclick="toggle_dashboards()">Dashboards
        <i class="fa fa-caret-down"></i>
    </button>
        <div class="dropdown-content">
            <a class="nav_item" id="ham" href="/Ham">Ham Dashboard</a>
        </div>
    </div>
    <a class="nav_item" id="taskapp" href="/TaskApp">TaskApp</a>
    <a class="nav_item" id="portfolio" href="/Portfolio">Portfolio</a>
    <a class="nav_item" id="github" href="https://github.com/blazakin">Github</a>
    <a href="javascript:void(0);" class="nav_item icon" onclick="toggle_topnav_menu()">
        <i class="fa fa-bars"></i>
    </a>
</div>

{% block content %}{% endblock %}


</body>
</html>