{% extends "layout.html" %}
{% block title %}Portfolio{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<script>active_page("portfolio")</script>
<h1>Publications: <a href="https://scholar.google.com/citations?user=-uMC1XAAAAAJ">See Google Scholar</a></h1>

<h1>Presentations:</h1>

<h3 class="indented">&#x2022; Data Science and Energy-efficient Computing Workshop 2025: <a href="https://sites.google.com/view/csun-reu-site-workshop2025/">Talk</a></h3>

<h3 class="indented">&#x2022; Spring Poster Symposium 2024: <a href="/SPS24">Poster</a></h3>

<h1>Projects: <a href="https://github.com/blazakin">See Github</a></h1>
{% endblock %}